.myImage {
    max-width: 280px;
    height: 400px;
}

.row {
    display: flex;
    gap: 12px;
}

.section {
    line-height: 1.6;
    padding: 0 12px 0 12px;
}

.myName {
    z-index: 1;
    position: relative;
}

.myName::after {
    z-index: -1;
    content: '';
    position: absolute;
    top: 12px;
    left: 10px;
    background-color: rgba(234, 15, 30, .5);
    width: 90%;
    height: 8px;
}

.article p {
    text-align: justify;
}
