.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.name {
  display: inline-block;
  font-size: 72px;
  font-weight: 300;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.title {
  display: inline-block;
  font-size: 24px;
  font-weight: 300;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.intro {
  white-space: nowrap;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -80%);
  color: #fff;
  gap: 16px;
  line-height: 1.25;
}

.intro::before {
  content: '';
  position: absolute;
  width: 120px;
  height: 200vh;
  bottom: -250px;
  left: -60px;
  background: rgb(255,0,0);
  background: linear-gradient(0deg, rgba(255,0,0,0.013064600840336116) 0%, rgba(255,0,0,1) 35%, rgba(255,0,0,1) 100%);
  opacity: 50%;
}

@media only screen and (max-width: 600px) {
  .intro {
    flex-direction: column !important;
    gap: 0;
    transform: translate(-50%, -130%);
  }
  .intro::before {
    left: unset;
    width: 130px;
    z-index: -1;
    bottom: -200px;
  }
  .name {
    font-size: 48px;
  }
  .title {
    font-size: 16px;
  }
  .introTextContainer {
    text-align: center;
    line-height: 1.6;
  }
  .linkContainer {
    transform: translate(-50%, 30%) !important;
    gap: 72px !important;
  }
  .linkContainer div {
    justify-content: space-between;
    gap: 72px !important;
  }
}

.logo {
  object-fit: cover;
  z-index: 9;
  -webkit-box-shadow: 0px 0px 16px 2px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 16px 2px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 16px 2px rgba(0,0,0,0.75);
}

.introTextContainer {
  padding-bottom: 12px;
}

.linkContainer {
  white-space: nowrap;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-36%, 180%);
  color: #fff;
  gap: 42px;
}

.linkContainer a {
  color: #fff;
  font-size: 18px;
  border-bottom: 2px solid rgba(255, 0, 0, 0.5);
  padding-bottom: 6px;
  font-weight: 300;
}
