.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.col {
  display: flex;
  flex-direction: column;
}

.navigationContainer {
  gap: 48px;
  margin-right: 24px;
}

.navigationContainer a {
  z-index: 1;
}

.container {
  max-width: 46rem;
  margin: 0 auto;
}

.header {
  justify-content: space-between;
  margin-bottom: 80px;
}

.logo {
  width: 72px;
  height: 72px;
}

.underlinedLink {
  position: relative;
  font-size: 18px;
}

.underlinedLink::after {
  z-index: -1;
  content: '';
  position: absolute;
  top: 16px;
  left: 10px;
  background-color: rgba(234, 15, 30, .25);
  width: 90%;
  height: 8px;
}

.activeLink::after {
  background-color: rgba(234, 15, 30, .5);
}

@media only screen and (max-width: 600px) {
  .header {
    margin-bottom: 40px;
  }
}