.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.col {
  display: flex;
  flex-direction: column;
}

.navigationContainer {
  font-size: 16px;
  gap: 48px;
  margin-right: 18px;
}

.navigationContainer a {
  color: #fff;
}

.container {
  max-width: 46rem;
  margin: 0 auto;
}

.header {
  justify-content: space-between;
}

.logo {
  width: 72px;
  height: 72px;
}